pipeline/PL_testing.json
{
	"name": "PL_testing",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set Final Counter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('final_counter')),int(pipeline().parameters.numberOfFiles))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"a": "bronze",
										"b": "test",
										"c": "OracleFusionOnHand_Duplicates.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"a": "silver",
										"b": "nekenke",
										"c": "g.csv"
									}
								}
							]
						},
						{
							"name": "Until Set Final Counter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "final_counter",
								"value": {
									"value": "@add(int(variables('initial_counter')),1)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Until Set InitialCounter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Until Set Final Counter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "initial_counter",
								"value": {
									"value": "@int(variables('final_counter'))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.02:00:00"
				}
			},
			{
				"name": "Set Final Counter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Initial Counter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_counter",
					"value": {
						"value": "0",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Initial Counter",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "initial_counter",
					"value": {
						"value": "0",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"counter": {
				"type": "string"
			},
			"numberOfFiles": {
				"type": "string"
			}
		},
		"variables": {
			"initial_counter": {
				"type": "String"
			},
			"final_counter": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-16T11:49:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}